.footer {
  text-align: center;
  height: 40px;
  .footer__icon {
    margin-right: 5px;
  }
  .footer__link {
    text-decoration: none;
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 24px;
    color: #333;
  }
  .footer__link:hover {
    text-decoration: underline;
    color: #333;
  }
}
